.personal-information{
    height: 700px;
    width: 500px;
    display: inline-block;

}
.personal-attributes{
    
}
.skills{

}
.experince{
    
}
.education{
    
}
.education-parttime{
    
}
.achivements{
    
}
.social{

}
img.profile-image {
	max-width:100%;
    height:auto;
    opacity: 0.9;
}